@model IEnumerable<Tourist_Agency_MVC.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Make It Meaning Full And Memorable.</h1>
<img src="~/images/Tour_4.jpg" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package_Id)
                <a href="C:\Users\ritik\source\repos\ritikasharma9112000\Tourist_Agency_MVC\Views\_ViewImports.cshtml">C:\Users\ritik\source\repos\ritikasharma9112000\Tourist_Agency_MVC\Views\_ViewImports.cshtml</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Of_Booking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Of_Booking)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
