@model Tourist_Agency_MVC.Models.Agency

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agency</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency_Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency_Website)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
